---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "blogs";
const pageTab = "posts";
---

<Layout title={pageTitle} pageTab={pageTab}>
  <div class="w-1/2 mx-auto grid grid-cols-2 gap-4">
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          publishDate={post.frontmatter.publishDate}
          timeToRead={post.frontmatter.timeToRead}
          imgSrc={post.frontmatter.image.url}
          imgAlt={post.frontmatter.image.alt}
        />
      ))
    }
  </div>
</Layout>
