---
import Layout from "@layouts/Layout.astro";
import "../styles/global.css";
import BlogPost from "@components/BlogPost.astro";
import TagNav from "@components/posts/TagNav.astro";

const allPosts = await Astro.glob("../pages/posts/*.mdx");
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
const pageTitle = "blogs";
const pageTab = "posts";
---

<Layout title={pageTitle} pageTab={pageTab}>
  <TagNav uniqueTags={uniqueTags} />

  <div class="w-3/4 lg:w-1/2 mx-auto lg:grid lg:grid-cols-2 lg:gap-4">
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          publishDate={post.frontmatter.publishDate}
          timeToRead={post.frontmatter.timeToRead}
          imgSrc={post.frontmatter.image.url}
          imgAlt={post.frontmatter.image.alt}
        />
      ))
    }
  </div>
</Layout>
