---
const { blog } = Astro.props;
---

<section
  class="relative w-11/12 mx-auto border lg:w-1/2 image border-slate-700 dark:ring-1 dark:ring-white/10 dark:ring-inset"
>
  <span class="feature_blog_tag">FEATURED POST</span>
  <a href={blog.url}>
    <img src={blog.frontmatter.image.url} alt={blog.frontmatter.image.alt} />
  </a>
  <section class="py-8 pl-8 pr-20">
    <div class="text-sm text-slate-700 dark:text-slate-400">
      <time class="mr-1">{blog.frontmatter.publishDate}</time>
      <span
        class="mr-1 relative bottom-0.5 inline-block w-0.5 h-0.5 rounded-full bg-slate-400 dark:bg-slate-400"
      ></span>
      <span>{blog.frontmatter.timeToRead}</span>
    </div>
    <a href={blog.url}>
      <div class="hover:text-purple-500">
        <h1 class="mt-6 text-3xl hover:text-purple-500">
          {blog.frontmatter.title}
        </h1>
        <p class="mt-4 text-slate-700 dark:text-slate-500">
          {blog.frontmatter.description}
        </p>
      </div>
    </a>
  </section>
</section>
