---
export interface Props {
  title: string;
  pageTab: string;
  metaKeywords: string;
  metaDescription: string;
}

const { title, pageTab, metaKeywords, metaDescription = "" } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html
  x-data="{ darkMode: (
    !!window.matchMedia &&
    window.matchMedia('(prefers-color-scheme: dark)').matches
  )} "
  x-bind:class="{ 'dark': false }"
  lang="en"
>
  <head>
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-EZP9HWW4ZD");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Edward Zhou" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={metaKeywords} />
    <meta name="description" content={metaDescription} />
    <link rel="icon" type="image/x-icon" href="../../favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="dark:bg-slate-900 dark:text-slate-400">
    <Header pageTab={pageTab} />
    <slot />
    <Footer />
  </body>
</html>
