---
import TagNav from "@components/posts/TagNav.astro";
import Layout from "./Layout.astro";
import "../styles/mdx.css";

const {
  title,
  publishDate,
  description,
  image,
  tags,
  timeToRead,
  metaKeywords,
} = Astro.props.frontmatter;

const { host, protocol } = Astro.url;
const imageUrl = `${protocol}//${host}/${image.url}`;
---

<Layout
  title={title}
  pageTab="posts"
  metaKeywords={metaKeywords}
  metaDescription={description}
>
  <TagNav uniqueTags={tags} />
  <section
    class="w-11/12 px-8 mx-auto border lg:w-1/2 border-slate-700 dark:ring-1 dark:ring-white/10 dark:ring-inset"
  >
    <section class="px-4 py-10 lg:pl-8 lg:pr-20 blog-body">
      <div class="text-sm text-slate-700 dark:text-slate-400">
        <time class="mr-1">{publishDate}</time>
        <span
          class="mr-1 relative bottom-0.5 inline-block w-0.5 h-0.5 rounded-full bg-slate-400 dark:bg-slate-400"
        ></span>
        <span>{timeToRead}</span>
      </div>
      <h1 class="text-3xl text-center my-10">{title}</h1>
      <p class="mb-8"><em>{description}</em></p>
      <img src={imageUrl} alt={image.alt} class="mb-6" />
      <slot />
    </section>
  </section>
</Layout>
