---
type Image = {
  url: string;
  alt: string;
};
interface Props {
  title: string;
  publishDate: string;
  description: string;
  image: Image;
  tags: string[];
}
import TagNav from "@components/posts/TagNav.astro";
import Layout from "./Layout.astro";
import "../styles/mdx_table.css";

const { title, publishDate, description, image, tags, timeToRead } =
  Astro.props.frontmatter;
---

<Layout title={title} pageTab="posts">
  <TagNav uniqueTags={tags} />
  <section
    class="w-11/12 px-8 mx-auto border lg:w-1/2 border-slate-700 dark:ring-1 dark:ring-white/10 dark:ring-inset"
  >
    <section class="px-4 py-10 lg:pl-8 lg:pr-20">
      <div class="text-sm text-slate-700 dark:text-slate-400">
        <time class="mr-1">{publishDate}</time>
        <span
          class="mr-1 relative bottom-0.5 inline-block w-0.5 h-0.5 rounded-full bg-slate-400 dark:bg-slate-400"
        ></span>
        <span>{timeToRead}</span>
      </div>
      <h2 class="text-2xl text-center my-10">{title}</h2>
      <p class="mb-10"><em>{description}</em></p>
      <img src={image.url} alt={image.alt} class="mb-10" />
      <slot />
    </section>
  </section>
</Layout>
